body {
	color: #14171a;
	font-size:14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* common css */
h1 {
	font-size: 24px;
	font-weight:400;
	color: #14171a;
	text-transform: uppercase;
	margin-bottom: 20px;
}
h2 {
	font-size: 24px;
	font-weight:600;
	color: #626262;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-left:4px solid #9f2391;
	padding-left:10px;
}
h3 {
	font-size: 18px;
	font-weight:600;
	color: #FFF;
	text-transform: uppercase;
	margin-bottom: 20px;
}
h3:after {
    content: '';
    width: 50px;
    height: 2px;
    position: relative;
    background-color: #9f2391;
    display: block;
	margin-top:10px;
}
h4 {
	font-size: 16px;
	font-weight:400;
	margin-bottom: 20px;
}
/* header css */
header { 
	
	width:100%;
}
.head-top { 
	background:#a2238e;
	padding:15px 0;
}
.logo {
    font-size: 36px;
    font-weight: 600;
    color: #a1238e !important;
    text-decoration: none !important;
    display: block;
	padding-top:15px;
}
.head-bottom .row { 
	background:#FFF;
	border-bottom:2px solid #939594;
}
header .phone { 
	float:left;
	color:#FFF;
	background:url(../images/phone.png) 0 4px no-repeat;
	padding-left:22px;
	margin-right:20px;
}
header .email { 
	float:left;
	color:#FFF;
	background:url(../images/email.png) 0 4px no-repeat;
	padding-left:22px;
}
ul.social { 
	float:right;
	margin:0;
	padding:0;
}
ul.social li { 
	float:left;
	margin:0 0 0 10px;
	padding:0;
	list-style:none;
	display:inline-block;
}
.navbar { 
	padding:0 !important;
}
.navbar-light .navbar-nav .nav-link { 
	color:#414141;
	font-size:14px;
	font-weight:500;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-right: 1rem;
	padding-left: 1rem;
	text-transform:uppercase;
	border-bottom:2px solid #FFF;
}
ul.navbar-nav li:last-child a { 
	padding-right:0 !important;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link { 
	border-bottom:2px solid #a1238e;
	color:#a1238e;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { 
	color:#a1238e;
	border-bottom:2px solid #a1238e;
}

.home-banner img{width:100%}
/* content area */
.services-fluid {
	margin-top:-60px;
	position:relative;
}
.services-fluid .row { 
	background:#FFF;
	padding-top:30px;
	padding-bottom:30px;
}
.services-fluid .service-img { 
	margin-bottom:10px;
}
.services-fluid h4 { 
	font-weight:600;
	margin-bottom:10px;
}
.services-fluid p { 
	margin-bottom:10px;
}
.services-fluid .learn-more-btn { 
	color:#a1238e;
	font-size:13px;
	text-transform:uppercase;
	background:url(../images/learn-more-arrow.png) right 5px no-repeat;
	padding-right:15px;
}
.best-fluid .col-one { 
	background:#2d3741;
	min-height:440px;
}
.best-fluid .col-two { 
	background:#eeeeee;
	min-height:440px;
}
.best-fluid .best-box h1 { 
	color:#FFF;
}
.best-fluid .best-box p { 
	color:#FFF;
}
.best-fluid .best-box { 
	float:right;
	width:540px;
	padding-top:30px;
	padding-right:15px;
}
.best-fluid .best-box .about-more-btn {
	font-size: 14px;
	padding: 0 20px;
	border-radius: 0;
	border: 0 none;
	background: #bf28a9;
	color: #FFF;
	text-align: center;
	font-weight: 600;
	line-height: 40px;
	float:left;
	display:block;
	text-transform:uppercase;
	cursor:pointer;
	margin-bottom:30px;
}
.best-fluid .best-box .icon-holder { 
	min-height:120px;
}
.best-fluid .best-box .title { 
	color:#FFF;
	text-align:center;
}
.best-fluid .request-box { 
	float:left;
	width:540px;
	padding-top:30px;
	padding-left:15px;
}
.gallery-fluid {
	padding: 30px 0;
	background:#a2238e;
}
.gallery-fluid h1 { 
	color:#FFF;
}
.gallery-fluid h4 { 
	color:#FFF;
}
.gallery-fluid .gallery-img { 
	margin-bottom:10px;
}
.gallery-fluid .gallery-title { 
	font-size:16px;
	font-weight:600;
	color:#FFF;
	text-align:center;
}
.gallery-fluid .navigation {
	margin: 30px auto 0 auto;
	width: 70px;
	display: block;
}
.gallery-fluid .navigation a.next {
	float: right;
}
.gallery-fluid .navigation a.prev {
	float: left;
}
.clients-fluid {
	padding: 30px 0;
}
.testimonials-box { 
	display:block;
	border:1px solid #eaeaea;
	padding:20px;
	min-height:190px;
}
.testimonials-box .testimonials-details { 
	font-size:16px;
	font-weight:500;
	margin-bottom:15px;
	padding-top:5px;
	padding-left:35px;
	background:url(../images/quote.png) 0 0 no-repeat
}
.testimonials-box .testimonials-person { 
	font-size:16px;
	font-weight:400;
	padding-left:35px;
}
ul.client-list { 
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
ul.client-list li { 
	float:left;
	width:125px;
	min-height:90px;
	border:1px solid #eaeaea;
	margin:0 10px 10px 0;
	padding:0;
	list-style:none;
	display:inline-block;
	position:relative;
	text-align:center;
}
ul.client-list li img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
ul.client-list li:last-child { 
	background:#a2238e;
	line-height:90px;
	color:#FFF;
}
ul.client-list li:last-child a { 
	color:#FFF; font-size:18px;text-decoration:none;
}
/* icon css */
.icon-holder {
	min-height: 170px;
	display: block;
	position: relative;
}
.icon-holder img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
/* footer */
.foot-top { 
	padding:40px 0 10px 0;
	background:#2d3741;
}
.foot-bottom { 
	padding:15px 0;
	background:#282d33;
	color:#bdbdbd;
}
ul.foot-links { 
	float:left;
	width:100%;
	padding:0;
}
ul.foot-links li { 
	float:left;
	width:100%;
	margin-top:5px;
	padding:0;
	list-style:none;
	display:list-item;
	color:#FFF;
}
ul.foot-links li a{color:#fff;text-decoration:none;}
ul.social-media { 
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
ul.social-media li { 
	float:left;
	margin:0 10px 0 0;
	padding:0;
	list-style:none;
	display:inline-block;
}
ul.social-media li a { 
	float:left;
}
footer .location { 
	float:left;
	width:100%;
	color:#FFF;
	background:url(../images/location.png) 0 4px no-repeat;
	padding-left:24px;
	margin-bottom:10px;
}
footer .mobile { 
	float:left;
	width:100%;
	color:#FFF;
	background:url(../images/mobile.png) 0 4px no-repeat;
	padding-left:24px;
	margin-bottom:10px;
}
footer .phone { 
	float:left;
	width:100%;
	color:#FFF;
	background:url(../images/phone.png) 0 4px no-repeat;
	padding-left:24px;
	margin-bottom:10px;
}
footer .email { 
	float:left;
	width:100%;
	color:#FFF;
	background:url(../images/email.png) 0 4px no-repeat;
	padding-left:24px;
}
/* form */
.form-box .text-box {
	font-size: 14px;
	padding: 0 10px;
	border-radius: 0;
	border: 0 none;
	line-height: 40px;
	min-height:40px;
	width: 100%;
	margin-bottom: 15px;
}
.form-box .text-area {
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 0;
	border: 0 none;
	line-height: 24px;
	resize: none;
	min-height: 90px;
	width: 100%;
	margin-bottom: 10px;
}
.form-box .btn {
	font-size: 14px;
	padding: 0 20px;
	border-radius: 0;
	border: 0 none;
	background: #bf28a9;
	color: #FFF;
	text-align: center;
	font-weight: 600;
	line-height: 40px;
	float:right;
	display:block;
	text-transform:uppercase;
	cursor:pointer;
}
/* ----------- Smartphones Portrait and Landscape ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) { 
	header { 
		position:relative;
	}
	.navbar-light .navbar-nav .nav-link { 
		padding-top: .5rem;
		padding-bottom: .5rem;
		padding-right: 0;
		padding-left: 0;
	}
	.best-fluid .best-box { 
		width:100%;
		padding-bottom:30px;
		padding-right:0;
	}
	.best-fluid .request-box { 
		width:100%;
		padding-bottom:30px;
		padding-left:0;
	}
}
/* ----------- iPads Portrait and Landscape ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	.best-fluid .best-box { 
		width:94%;
	}
	.best-fluid .request-box { 
		width:94%;
	}
}
/*--inner-page area ends--*/
.inner-page{   
    margin-top:30px;;width:100%;display:inline-block}
.inner-page img{width:100%;display:inline-block;margin-bottom:20px;}
.inner-page p{font-size: 16px; font-family: 'Roboto'; line-height: 28px; color: #555;}
.inner-page h3{font-size:30px;font-family: 'Roboto', sans-serif;    font-weight: bold;text-align:left;color:#00134c}
/*--blog page start --*/
div.intro-archives {
    border-bottom: solid 1px #eee;
    margin: 10px 0 20px;
    padding: 0 0 20px;
}
.intro h1{
       color:#207aaf;
    font-size: 41px;
    font-weight: 500;
}
div.category-excerpt p {
    font-size: 15px;
    line-height: 1.6em;
}
ul.posts-archive li {
    border-bottom: solid 1px #eee;
    padding-top: 25px;
    list-style: none;
}
.posts-archive{padding-left:0px;}
div.post-thumb {
   padding:0px;display:inline-block;
}
div.post-thumb p{font-size: 14px;    color: #ff0303;} 
div.post-thumb img{padding-right:20px;}
div.post-excerpt {
    color: #666;
    font-size: 14px;
    line-height: 1.75em;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 0px;text-decoration: none;float:right;
}
div.post-excerpt h2{color:#207aaf!important!;text-decoration:none!important}

div.blog p {
    color: #666;
    font-size: 14px;
    font-family: Arial, Tahoma, sans-serif;padding:0px;
}
div.blog time {
    color: #c90935!important;
    font-size: 12px;margin-bottom:20px;
}
ul.posts-archive h2 {
    font-size: 19px;
    font-weight: bold;
    display: inline;
    line-height: 2.7em;color:#207aaf!important;text-decoration:none!importa;n
}
span.more {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
}

span.more a{color: #cf2626!important;font-size: 16px}
/*--blog  page end --*/

/*--404 page end --*/
#fof{display:block; width:100%; padding:150px 0; line-height:1.6em; text-align:center;}
#fof .fl_left{}
#fof .fl_left img{}
#fof .fl_right{}
#fof .fl_right h1{font-size:60px; text-transform:uppercase;}
#fof .fl_right p{display:block; margin:0 0 25px 0; padding:0; font-size:16px;}
#fof .fl_right #respond input{width:200px; padding:5px; border:1px solid #CCCCCC;}
#fof .fl_right #respond #submit{width:auto;}

.container {
    width: 1038px\9;
    margin: 0 auto\9
}
.col-md-3.col-xs-12 {
    width: 25%\9;
}
.col-md-9 {
    width: 75%\9;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative\9;
    min-height: 1px\9;
    padding-right: 15px\9;
    padding-left: 15px\9;
}
.service-landing-service-list ul {
    background: inherit\9
}
.service-landing-service-list ul li:before {
    display: none\9
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left\9;
}
.col-md-12 {
    width: 100%\9;
}
.col-md-11 {
    width: 91.66666667%\9;
}
.col-md-10 {
    width: 83.33333333%\9;
}
.col-md-9 {
    width: 75%\9;
}
.col-md-8 {
    width: 66.66666667%\9;
}
.col-md-7 {
    width: 58.33333333%\9;
}
.col-md-6 {
    width: 50%\9;
}
.col-md-5 {
    width: 41.66666667%\9;
}
.col-md-4 {
    width: 33.33333333%\9;
}
.col-md-3 {
    width: 25%\9;
}
.col-md-2 {
    width: 16.66666667%\9;
}
.col-md-1 {
    width: 8.33333333%\9;
}
.header-bottom ul li {
    padding: 0 7.2% 0 0\9;
}
.darkBluebg {
    background-color: #1B2026;
    display: inline-block;
    width: 100%
}
.enjoytheservise img {
    margin: 10px auto 40px;
}
.enjoytheservise h1 {
    text-align: center;
    margin: 0px 0 40px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 45px;
}
.enjoytheservise p {
    font-size: 16px;
    width: 88%;
    margin: 0 auto 50px;
    text-align: center;
    line-height: 33px;
    color:#fff;
}
.enjoymobileapp {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
.enjoymobileapp i {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 65px;
    color: #fff;
    margin-bottom: 20px;
}
.enjoymobileapp a {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    cursor: default
}
.image-onabsolute {
    position: absolute;
    left: 10%;
    top: 0px;
}
.ioosdevelopments {
    position: relative
}
.ioosdevelopments h1, .androisApps h1, .windowsApp h1 {
    font-size: 40px;
    margin-bottom: 50px;
    color:#fff;
    font-family: 'Dosis', sans-serif;
}
.ioosdevelopments h1 {
    text-align: left
}
.ioosdevelopments ul li {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 50px;
    margin-bottom: 30px;
}
.ioosdevelopments ul li:before {
    content: "\f442";
    font-family: "Ionicons";
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 4px;
    color: #CD2026;
}
.ioosdevelopments.padding-50 {
    padding: 8% 0 6%;
    position: relative;
    overflow: hidden;
}
.ioosdevelopments ul li h3 {
    margin: 10px 0 20px;
    font-family: 'Dosis', sans-serif;
}
.androisApps {
    background-color: #1B2026;
}
.androisApps h1 {
    color: #fff
}
.androisApps p {
    color:#fff;
}
.windowsApp p {
    font-size: 16px;
    line-height: 30px;
    color: #666;
    margin-bottom: 15px;
}
.windowsApp.blackberry {
    background-color: #f0f0f0;
}
.androisApps h1 {
    margin-top: 39%
}
.windowsApp h1 {
    margin-top: 23%;
}