---
layout: default
---
  <header>
{% include top-social.html %}
{% include menu-section.html %}  
  </header>
 <section class="home-banner"><img src="{{site.baseurl}}/images/{{site.banner}}" class="img-fluid" alt=""/></section>
  <article>
    {% include product-section.html %}  
    <!--end here-->
    <section class="best-fluid">
    	<div class="container-fluid">
        	<div class="row">
            	{% include about-section.html %}
               {% include form-section.html %}
            </div>
        </div>
    </section>
    <!--end here-->
{% include gallery-section.html %}
     <!--end here-->
    <section class="clients-fluid">
    	<div class="container">
        	<div class="row">
            {% include testimonial-section.html %}
             {% include client-section.html %}   
            </div>
        </div>
    </section>
    <!--end here-->
  </article>

