---
layout: default
---
  <header>
{% include top-social.html %}
{% include menu-section.html %}  
  </header>
{% include banner-section.html%}
  <article>
   	{% include product-section.html %}
    <!--end here-->
    <section class="best-fluid">
    	<div class="container-fluid">
        	<div class="row">
            	{% include about-section.html %}
               {% include form-section.html %}
            </div>
        </div>
    </section>
    <!--end here-->
{% include gallery-section.html %}
     <!--end here-->
    <section class="clients-fluid">
    	<div class="container">
        	<div class="row">
            {% include testimonial-section.html %}
             {% include client-section.html %}   
            </div>
        </div>
    </section>
    <!--end here-->
  </article>
  <footer>
  	<section class="foot-top">
    	<div class="container">
        	<div class="row">
            	{% include footer-links.html %}
                {% include footer-specilization.html %}
                 {% include footer-facebook.html %}
               {% include footer-address.html %}
            </div>
        </div>
    </section>
    <section class="foot-bottom">
    	<div class="container">
        	<div class="row">
            	<aside class="col-md-12 text-center">Unique Roof Private Limited. All Rights Reserved.</aside>
            </div>
        </div>
    </section>
  </footer>
