<aside class="col-md-6 col-one">
                	<div class="best-box">
                    {% for about in site.data.about-section %}
                    	<h1>{{about.about-title}}</h1>
                        <p>{{about.about-content}}</p>
                        <a href="#" class="about-more-btn">About More</a>
                        <div class="clearfix"></div>
                        <div class="row">
                        	<div class="col-md-4">
                            	<div class="icon-holder"><img src="{{site.baseurl}}/images/{{about.icon-one}}"  alt=""/></div>
                                <div class="title">{about.icon-one-title}}</div>
                            </div>
                            <div class="col-md-4">
                            	<div class="icon-holder"><img src="{{site.baseurl}}/images/{{about.icon-two}}"  alt=""/></div>
                                <div class="title">{about.icon-two-title}}</div>
                            </div>
                            <div class="col-md-4">
                            	<div class="icon-holder"><img src="{{site.baseurl}}/images/{{about.icon-three}}"  alt=""/></div>
                                <div class="title">{about.icon-three-title}}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </aside>