<aside class="col-md-6 col-one">
                	<div class="best-box">
                    	<h1>Why We Are best</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacus lectus, vulputate vitae cursus in, accumsan ac sem. Nulla facilisi. Suspendisse potenti. Curabitur felis tortor, faucibus quis pretium ac, laoreet volutpat massa. Aliquam tempus ex non aliquet viverra.</p>
                        <a href="#" class="about-more-btn">About More</a>
                        <div class="clearfix"></div>
                        <div class="row">
                        	<div class="col-md-4">
                            	<div class="icon-holder"><img src="{{site.baseurl}}/images/best-icon.png"  alt=""/></div>
                                <div class="title">100% Guaranteed</div>
                            </div>
                            <div class="col-md-4">
                            	<div class="icon-holder"><img src="{{site.baseurl}}/images/best-icon.png"  alt=""/></div>
                                <div class="title">Creative Professions</div>
                            </div>
                            <div class="col-md-4">
                            	<div class="icon-holder"><img src="{{site.baseurl}}/images/best-icon.png"  alt=""/></div>
                                <div class="title">Quality Commitment</div>
                            </div>
                        </div>
                    </div>
                </aside>