<aside class="col-md-3">
                	<h3>Quick Links</h3>
                    <ul class="foot-links">
                    	 <li class="nav-item active"> <a class="nav-link" href="{{site.baseurl}}">Home <span class="sr-only">(current)</span></a> </li>
                          <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/nav2">About Us</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/nav3">Specialization</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/nav4">Gallery</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/nav5">Clients</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/nav6">Infrastucture</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/nav7">Enquiry</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="{{site.baseurl}}/nav8">Contact Us</a> </li>
                    </ul>
                </aside>