<aside class="col-md-3">
              
                	<h3>Our Blog</h3>
                   
                    <ul class="foot-links">

                       {% for post in site.posts limit:3 %}
                    	<li><a href="{{site.baseurl}}{{post.url}}">{{post.title | strip_html | truncatewords:4 }}</a></li>
                      {% endfor %}

                    </ul>
                  
                
                {% for social in site.data.top-social %}
                    <h3>Follow Us</h3>
                    <ul class="social-media">
                    	<li><a href="{{social.facebook-url}}"><img src="{{site.baseurl}}/images/facebook.png" alt=""/></a></li>
                        <li><a href="{{social.twitter-url}}"><img src="{{site.baseurl}}/images/twitter.png" alt=""/></a></li>
                        <li><a href="{{social.youtube-url}}"><img src="{{site.baseurl}}/images/youtube.png" alt=""/></a></li>
                {% endfor %} 
                    </ul>
                </aside>