 <aside class="col-md-3">
                	<h3>contact info</h3>
                	{% for address in site.data.address-section %}
                    <div class="location">{{address.address}}</div>
                    {% endfor %}
                    {% for social in site.data.top-social %}
                    <div class="phone">{{social.phone-number}}</div>
                    <div class="mobile">Customer Care : {{social.customer-care}}</div>
                    <div class="email">{{social.email-address}}</div>
                    {% endfor %}
                </aside>
