 <aside class="col-md-6 col-two">
                	<div class="request-box">
                    	<h1>Request a Quote</h1>
                        <p>Fill in the form and we will get back to you ASAP.</p>
                        <div class="form-box">
                        	<div class="row">
                                <aside class="col-md-6">
                                    <input type="text" class="text-box" placeholder="Enter your Name">
                                </aside>
                                <aside class="col-md-6">
                                    <input type="text" class="text-box" placeholder="Enter your Subject">
                                </aside>
                                <aside class="col-md-6">
                                    <input type="text" class="text-box" placeholder="Enter your Email">
                                </aside>
                                <aside class="col-md-6">
                                    <input type="text" class="text-box" placeholder="Enter your Repeat Email">
                                </aside>
                                <aside class="col-md-12">
                                    <textarea class="text-area" placeholder="Enter your Message"></textarea>
                                </aside>
                                <aside class="col-md-12">
                                    <input type="button" class="btn" value="Submit">
                                </aside>
                          </div>
                        </div>
                    </div>
                </aside>