    <section class="gallery-fluid">
    	<div class="container">
        {% for gallery in site.data.gallery-section %}
        	<div class="row"><aside class="col-md-12 text-center"><h1>{{gallery.gallery-title}}</h1></aside></div>
            <div class="row"><aside class="col-md-12 text-center"><h4>{{gallery.gallery-content}}</h4></aside></div>
            <div class="row">
            	<aside class="col-md-3">
                	<div class="gallery-img"><img src="{{site.baseurl}}/images/{{gallery.gallery-img-one}}" class="img-fluid" alt=""/></div>
                    <div class="gallery-title">{{gallery.gallery-title-one}}</div>
                </aside>
                <aside class="col-md-3">
                	<div class="gallery-img"><img src="{{site.baseurl}}/images/{{gallery.gallery-img-two}}" class="img-fluid" alt=""/></div>
                    <div class="gallery-title">{{gallery.gallery-title-two}}</div>
                </aside>
                <aside class="col-md-3">
                	<div class="gallery-img"><img src="{{site.baseurl}}/images/{{gallery.gallery-img-three}}" class="img-fluid" alt=""/></div>
                    <div class="gallery-title">{{gallery.gallery-title-three}}</div>
                </aside>
                <aside class="col-md-3">
                	<div class="gallery-img"><img src="{{site.baseurl}}/images/{{gallery.gallery-img-four}}" class="img-fluid" alt=""/></div>
                    <div class="gallery-title">{{gallery.gallery-title-four}}</div>
                </aside>
            </div>
            <div class="row">
            	<div class="col-md-12">
                	<div class="navigation">
                    	<a href="#" class="prev"><img src="{{site.baseurl}}/images/prev.png" alt=""/></a>
                    	<a href="#" class="next"><img src="{{site.baseurl}}/images/next.png" alt=""/></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>