<section class="services-fluid">
    	<div class="container">
        	<div class="row"> 
         
            {% if post.categories contains 'blog' %}
            	<aside class="col-md-4">
                	<div class="service-img"><img src="{{site.baseurl}}/images/{{post.product-image-one}}" class="img-fluid" alt=""/></div>
                	<h4>{{post.title}}</h4>
                    <p>{{post.content}}</p>

                    <a href="{{site.baseurl}}{{post.url}}" class="learn-more-btn">learn More</a>

              	 </aside>
                 <aside class="col-md-4">
                  <div class="service-img"><img src="{{site.baseurl}}/images/{{post.product-image-one}}" class="img-fluid" alt=""/></div>
                  <h4>{{post.title}}</h4>
                    <p>{{post.content}}</p>

                    <a href="{{site.baseurl}}{{post.url}}" class="learn-more-btn">learn More</a>

                 </aside>
                 <aside class="col-md-4">
                  <div class="service-img"><img src="{{site.baseurl}}/images/{{post.product-image-one}}" class="img-fluid" alt=""/></div>
                  <h4>{{post.title}}</h4>
                    <p>{{post.content}}</p>

                    <a href="{{site.baseurl}}{{post.url}}" class="learn-more-btn">learn More</a>

                 </aside>
                
                 

              	 
                 {% endif %}
               
            </div>
        </div>
    </section>