<section class="services-fluid">
    	<div class="container">
        	<div class="row"> 
         
             {% for post in site.posts %}
               {% if site.post contains 'blog'%}
            	<aside class="col-md-4">
                	<div class="service-img"><img src="{{site.baseurl}}/images/{{post.productimage}}" class="img-fluid" alt=""/></div>
                	<h4>{{post.title}}</h4>
                    <p>{{post.excerpt | strip_html | truncatewords:10 }}</p>

                    <a href="{{site.baseurl}}{{post.url}}" class="learn-more-btn">learn More</a>

              	 </aside>
                 
                 {% endif %}

              	 
                 {% endfor %}  
               
            </div>
        </div>
    </section>