    <section class="head-top">
    	<div class="container">
        	<div class="row">
            	<aside class="col-md-9">
                	<span class="phone">+91-422-2627177, 2625994</span>
                    <span class="email">enquiry@uniqueroof.net</span>
                </aside>
                <aside class="col-md-3">
                	<ul class="social">
                    	<li><a href="#"><img src="images/fb-01.png" alt=""/></a></li>
                        <li><a href="#"><img src="images/tw-01.png" alt=""/></a></li>
                        <li><a href="#"><img src="images/yt-01.png" alt=""/></a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </section>