    <section class="head-top">
    	<div class="container">
        	<div class="row">
            	<aside class="col-md-9">
                  {% for social in site.data.top-social %}
                	<span class="phone">{{social.phone-number}}</span>
                    <span class="email">{{social.email-address}}</span>
                </aside>
                <aside class="col-md-3">
                	<ul class="social">
                    	<li><a href="{{social.facebook-url}}"><img src="{{site.baseurl}}/images/fb-01.png" alt=""/></a></li>
                        <li><a href="{{social.twitter-url}}"><img src="{{site.baseurl}}/images/tw-01.png" alt=""/></a></li>
                        <li><a href="{{social.youtube-url}}"><img src="{{site.baseurl}}/images/yt-01.png" alt=""/></a></li>
                    </ul>
                </aside>
                {% endfor %}
            </div>
        </div>
    </section>