<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>a
<![endif]-->
<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/custom-styles.css">
</head>
<body>
<div class="page-wrapper">
  <header>
{% include top-social.html %}
{% include menu-section.html %}  
  </header>


{{content}}  
    
  <footer>
    <section class="foot-top"  id="nav8">
        <div class="container">
            <div class="row">
                {% include footer-links.html %}
                {% include footer-specialization.html %}
                 {% include footer-facebook.html %}
               {% include footer-address.html %}
            </div>
        </div>
    </section>
    <section class="foot-bottom">
        <div class="container">
            <div class="row">
                <aside class="col-md-12 text-center">Unique Roof Private Limited. All Rights Reserved.</aside>
            </div>
        </div>
    </section>
  </footer>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 
<script src="{{site.baseurl}}/js/popper.min.js"></script> 
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
</body>
</html>